<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" [routerLink]="[ '/home']" label="Home" icon="pi pi-home" style="margin-right: 10px;"></button>
        <button pButton type="button" [routerLink]="[ '/pico-placa']" label="Pico y Placa" icon="pi pi-search" class="ui-button-success"></button>
            
        <i class="ui-toolbar-separator pi pi-bars" style="vertical-align: middle"></i>
        
    </div>
    
    <div class="ui-toolbar-group-right">
        <input pInputText style="margin-right: 10px;">
        <button pButton type="button" icon="pi pi-search"></button>
    </div>
</p-toolbar>
